<h2>Mes Pays</h2>
<div>
  <label>Pays name:
    <input #PaysName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(PaysName.value); PaysName.value=''">
    add
  </button>
  <button (click)="  getPaysList();">
    initialize List of Countries
  </button>
</div>
<ul class="paysList">
  <li *ngFor="let pays of paysList">
    <a routerLink="/detail/{{pays.name}}">
     {{pays.name}}
    </a>
    <button class="delete" title="delete Country"
      (click)="delete(pays)">x</button>
  </li>
</ul>
